/* app.component.scss */

ion-split-pane {
    z-index: 1000; /* Ajuste conforme necessário para garantir que o split-pane esteja na frente */
    width: 100%; /* Ocupa toda a largura da tela */
    height: 100%; /* Ocupa toda a altura da tela */
  }



  
  .logo-img {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 40px; /* Define uma altura máxima para a imagem */
    margin: 0 auto; /* Centraliza horizontalmente */
  }
  