ion-content {
  --background: url('../../assets/21.jpg') no-repeat center center fixed;
  background-size: cover;
}

.character-card {
  height: 300px; /* Altura fixa para todos os cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-img {
  height: 200px; /* Altura da imagem dentro do card */
  object-fit: cover; /* Redimensiona a imagem mantendo a proporção */
}

ion-card-header {
  text-align: center; /* Centraliza o título do card */
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
